<!--<div class="container">
    <form #userForm="ngForm" y>
       {{userForm.value |json}} -->
        
        <!--  {{userModel |json}}-->
         <!-- 
        <div class="form-group">
            <label>User Name  </label>
            <input type="text" [class.is-invalid]="username.invalid && username.touched"  required name=" txtUsername"
            pattern="^[a-zA-Z\s]+$" #username="ngModel" [(ngModel)]="userModel.username" class="form-control">
           
            <div *ngIf="username.errors && username.touched">
                <small class="text-danger" *ngIf="username.errors.required">UserName is required</small>
                <small class="text-danger" *ngIf="username.errors.pattern">UserName must be Characters</small>
              </div>  
        </div>
        <br>
      

        <div class="form-group">
            <label>Email :</label>
            <input type="email" name="txtEmail" #email="ngModel" [(ngModel)]="userModel.email" class="form-control" [class.is-invalid]="email.invalid && email.touched"  required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
            <div *ngIf="email.errors && email.touched">
                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Email must contains @ and .</small>
              </div>  
        </div>

        <div class="form-group">
            <label>Password :</label>
            <input type="password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched"
             pattern="^\d{8}$"  name="txtpassword"[(ngModel)]="userModel.password" class="form-control">
          
            <div *ngIf="password.errors && password.touched">
             <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
             <small class="text-danger" *ngIf="password.errors.pattern">Password must be 8 digits</small>
           </div>  
        </div>

        <div class="form-group">
            <label>Confirm Password :</label>
            <input type="password" #confirmpassword="ngModel" required [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched"
             pattern="^\d{8}$"  name="txtconfirmpassword"[(ngModel)]="userModel.confirmpassword" class="form-control">
          
            <div *ngIf="confirmpassword.errors && confirmpassword.touched">
             <small class="text-danger" *ngIf="confirmpassword.errors.required">Password is required</small>
             <small class="text-danger" *ngIf="confirmpassword.errors.pattern">Password must be 8 digits</small>
           </div>
        </div>

        <div class="form-group">
            <select class="custom-select" #topic="ngModel" [(ngModel)]="userModel.topic" name="txttopic" 
            [class.is-invalid]="topic.invalid && topic.touched" required>
                <option selected>
                    wher you hear about us
                </option>

                <option *ngFor="let topic of topics">{{topic}}
                </option>
                <small class="text-danger" [class.dnone]="topic.valid || topic.untouched">
                    Please choose a topic</small>
            </select>
        </div>
        <input type="submit"[disabled]="userForm.form.invalid" class="btn btn-primary" value="Submit Form"><br>
    </form><br>
</div><br>
-->

<div class="container">
    <h2>Register Form</h2>
    <form [formGroup]="registerForm">
        {{registerForm.value |json}}
        <div class="form-group">
            <label>User Name</label>
            <input formControlName="userName" [class.is-invalid]="userName.invalid && userName.touched" type="text"
                class="form-control" />
            <div *ngIf=" userName.errors && (userName.invalid && userName.touched)">
                <small class="text-danger" *ngIf="userName.errors?.required">
                    User name is required
                </small>
                <small class="text-danger" *ngIf="userName.errors.minlength">
                    Min length is 5
                </small>
                <small *ngIf="userName.errors?.forbiddenName">
                    {{userName.errors?.forbiddenName.value}} is not allowed
                </small>
            </div>
            {{userName.errors |json}}

        </div>
        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Confirm Passsword</label>
            <input [class.is-invalid]="registerForm.errors?.misMatch" formControlName="confirmPassword" type="password"
                class="form-control" />
            <small *ngIf="registerForm.errors?.misMatch" class="text-danger">
                Passwords does not match
            </small>
        </div>


        <div class="form-group">
                      <label>Email</label>
                     <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">
                Email is required
            </small>
        </div>

        <button (click)="addNewEmail()">ADD NEW EMAIL</button>

        <div formArrayName="alternativeEmails" *ngFor="let email of  alternativeEmails.controls; let i=index">
                  <label>Alternative email # {{i+1}}</label>
                  <input type="text" class="form-control" [formControlName]="i">
                  <button (click)="removeEmail(i)">X</button>
        </div>
              
    

        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <button type="button" class="btn btn-primary float-right" (click)="loadApiData()">Load API Data</button>
</div>